core/src/test/resources/flows/valids/dag.yaml
id: "dag"
namespace: "io.kestra.tests"
tasks:
  - id: dag
    description: "my task"
    type: io.kestra.core.tasks.flows.Dag
    tasks:
      - task:
          id: task1
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - sleep 1
      - task:
          id: task2
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - sleep 1
            - echo '::{"outputs":{"test":"value","int":2,"bool":true,"float":3.65}}::'
        dependsOn:
          - task1
      - task:
          id: task3
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - sleep 1
        dependsOn:
          - task1
      - task:
          id: task4
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - sleep 1
        dependsOn:
          - task2
      - task:
          id: task5
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - sleep 1
        dependsOn:
          - task4
          - task3
      - task:
          id: task6
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - sleep 1
            - echo {{ outputs.task2.vars.test }}
        dependsOn:
          - task2
          - task3
