core/src/test/resources/flows/valids/empty-variables.yml
id: empty-variables
namespace: io.kestra.tests

inputs:
  - id: emptyKey
    type: JSON
  - id: emptySubObject
    type: JSON

tasks:
  - id: log-not-existing-output
    type: io.kestra.core.tasks.log.Log
    message: "{{ outputs.not_existing ?? '' }}" # previously this failed on 'outputs' variable didn't exist
  - id: log-empty-input
    type: io.kestra.core.tasks.log.Log
    message: "{{ inputs['emptyKey']['foo'] }}"
  - id: log-empty-sub-object-input
    type: io.kestra.core.tasks.log.Log
    message: "{{ inputs.emptySubObject.json.someEmptyObject }}"