core/src/test/resources/flows/valids/full.yaml
id: full
namespace: io.kestra.tests

#triggers:
#- type: schedule
#  expression: 42 4 1 * *
#  backfill:
#    start: 2018-01-01
#    depend-on-past: false
#

tasks:
- id: t1
  type: io.kestra.core.tasks.scripts.Bash
  commands:
  - 'echo "{{ task.id }}"'

- id: t2
  type: io.kestra.core.tasks.debugs.Return
  format: second {{ execution.id }}

- id: t3
  type: io.kestra.core.tasks.debugs.Echo
  format: third all optional args {{ outputs.t2.value }}
  timeout: PT60M
  retry:
    maxAttempt: 5
    type: constant
    interval: PT15M
#
- id: t5
  type: io.kestra.core.tasks.flows.Parallel
  concurrent: 3
  tasks:
  - id: t5-t1
    type: io.kestra.core.tasks.scripts.Bash
    commands:
    - echo "t5-t1 {{execution.id}}"
  - id: t5-t2
    type: io.kestra.core.tasks.scripts.Bash
    commands:
    - echo "t5-t2 {{execution.id}}"
  - id: t5-t3
    type: io.kestra.core.tasks.scripts.Bash
    commands:
    - echo "t4-t3 {{execution.id}}"
  - id: t5-t4
    type: io.kestra.core.tasks.flows.Parallel
    tasks:
      - id: t5-t4-t1
        type: io.kestra.core.tasks.flows.Parallel
        tasks:
        - id: t5-t4-t1-t1
          type: io.kestra.core.tasks.flows.Parallel
          tasks:
          - id: t5-t4-t1-t1-t1
            type: io.kestra.core.tasks.flows.Parallel
            tasks:
            - id: t5-t4-t1-t1-t1-last
              type: io.kestra.core.tasks.scripts.Bash
              commands:
                - 'echo "t5-t5-t1-t1-t1-last : {{execution.id}}"'


- id: last
  type: io.kestra.core.tasks.scripts.Bash
  commands:
    - 'echo "last"'
    - 'sleep 1'

