core/src/test/resources/flows/valids/state.yaml
id: state
namespace: io.kestra.tests

inputs:
  - id: state
    type: STRING

tasks:
  - id: if
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.state == 'each' }}"
    then:
      - id: delete1
        type: io.kestra.plugin.core.state.Delete
        name: "{{ inputs.state }}"

      - id: each1
        type: io.kestra.plugin.core.flow.EachSequential
        value: '["a", "b"]'
        tasks:
          - id: getEach1
            type: io.kestra.plugin.core.state.Get
            name: "{{ inputs.state }}"

          - id: setEach1
            type: io.kestra.plugin.core.state.Set
            name: "{{ inputs.state }}"
            data:
              value: "{{ (currentEachOutput(outputs.getEach1).data.value ?? 'null') ~ '-' ~ taskrun.value }}"
          - id: regetEach1
            type: io.kestra.plugin.core.state.Get
            name: "{{ inputs.state }}"

      - id: delete2
        type: io.kestra.plugin.core.state.Delete
        name: "{{ inputs.state }}"

      - id: each2
        type: io.kestra.plugin.core.flow.EachSequential
        value: '["a", "b"]'
        tasks:
          - id: getEach2
            type: io.kestra.plugin.core.state.Get
            taskrunValue: false
            name: "{{ inputs.state }}"
          - id: setEach2
            type: io.kestra.plugin.core.state.Set
            name: "{{ inputs.state }}"
            taskrunValue: false
            data:
              value: "{{ (currentEachOutput(outputs.getEach2).data.value ?? 'null') ~ '-' ~ taskrun.value }}"
          - id: regetEach2
            type: io.kestra.plugin.core.state.Get
            taskrunValue: false
            name: "{{ inputs.state }}"


    else:
    - id: state
      type: io.kestra.plugin.core.state.Get
      name: "{{ inputs.state }}"

    - id: switch
      type: io.kestra.plugin.core.flow.Switch
      value: "{{ (outputs.state.data.value ?? 0) == 0 ? 'create' : ( outputs.state.data.value == 1 ? 'update' : 'delete') }}"
      cases:
        "create":
          - id: create
            type: io.kestra.plugin.core.state.Set
            name: "{{ inputs.state }}"
            data:
              value: 1
          - id: createGet
            type: io.kestra.plugin.core.state.Get
            name: "{{ inputs.state }}"

        "update":
          - id: update
            type: io.kestra.plugin.core.state.Set
            name: "{{ inputs.state }}"
            data:
              value: "{{ outputs.state.data.value + 1 }}"
          - id: updateGet
            type: io.kestra.plugin.core.state.Get
            name: "{{ inputs.state }}"


        "delete":
          - id: delete
            type: io.kestra.plugin.core.state.Delete
            name: "{{ inputs.state }}"
          - id: deleteGet
            type: io.kestra.plugin.core.state.Get
            name: "{{ inputs.state }}"


