core/src/test/resources/flows/valids/task-flow.yaml
id: task-flow
namespace: io.kestra.tests

inputs:
  - id: string
    type: STRING

labels:
  mainFlowLabel: flowFoo

tasks:
  - id: launch
    type: io.kestra.plugin.core.flow.Subflow
    namespace: io.kestra.tests
    flowId: switch
    inputs:
      string: "{{ inputs.string }}"
    wait: true
    transmitFailed: true
    inheritLabels: true
    labels:
      launchTaskLabel: launchFoo
    outputs:
      extracted: "{{ outputs.default.value ?? outputs['error-t1'].value }}"

triggers:
  - id: schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 * * * *"