core/src/test/resources/flows/valids/task-flow-dynamic.yaml
id: task-flow-dynamic
namespace: io.kestra.tests

inputs:
  - id: string
    type: STRING

labels:
  mainFlowLabel: flowFoo

tasks:
  - id: launch
    type: io.kestra.plugin.core.flow.Subflow
    namespace: "{{inputs.namespace}}"
    flowId: "{{inputs.flowId}}"
    inputs:
      string: "{{ inputs.string }}"
    wait: true
    transmitFailed: true
    inheritLabels: true
    labels:
      launchTaskLabel: launchFoo
    outputs:
      extracted: "{{ outputs.default.value ?? outputs['error-t1'].value }}"