core/src/test/resources/flows/valids/trigger-flow-listener-invalid.yaml
id: trigger-flow-listener-invalid
namespace: io.kestra.tests

inputs:
  - id: from-parent
    type: STRING

tasks:
  - id: only-invalid
    type: io.kestra.core.tasks.debugs.Return
    format: "childs: {{inputs['from-parent']}}"

triggers:
  - id: listen-flow-invalid
    type: io.kestra.core.models.triggers.types.Flow
    inputs:
      from-parent: '{{ outputs.invalid.value }}'
    conditions:
      - type: io.kestra.core.models.conditions.types.ExecutionFlowCondition
        namespace: io.kestra.tests
        flowId: trigger-flow
