core/src/test/resources/flows/valids/trigger-flow-listener.yaml
id: trigger-flow-listener
namespace: io.kestra.tests.trigger

inputs:
  - id: from_parent
    type: STRING

tasks:
  - id: only-listener
    type: io.kestra.plugin.core.debug.Return
    format: "childs: {{inputs['from_parent']}}"

triggers:
  - id: listen-flow
    type: io.kestra.plugin.core.trigger.Flow
    inputs:
      from_parent: '{{ outputs.only.value }}'
    conditions:
      - type: io.kestra.plugin.core.condition.ExecutionStatusCondition
        in:
          - SUCCESS
      - type: io.kestra.plugin.core.condition.ExecutionFlowCondition
        namespace: io.kestra.tests.trigger
        flowId: trigger-flow
