core/src/test/resources/flows/valids/trigger-multiplecondition-listener.yaml
id: trigger-multiplecondition-listener
namespace: io.kestra.tests
#
#inputs:
#  - id: from-parent
#    type: STRING

tasks:
  - id: only-listener
    type: io.kestra.core.tasks.debugs.Return
    format: "childs"

triggers:
  - id: multiple-listen-flow
    type: io.kestra.core.models.triggers.types.Flow
#    inputs:
#      from-parent: '{{ outputs.only.value }}'
    conditions:
      - id: multiple
        type: io.kestra.core.models.conditions.types.MultipleCondition
        window: P1D
        windowAdvance: P0D
        conditions:
          success:
            type: io.kestra.core.models.conditions.types.ExecutionStatusCondition
            in:
              - SUCCESS
          flow-a:
            type: io.kestra.core.models.conditions.types.ExecutionFlowCondition
            namespace: io.kestra.tests
            flowId: trigger-multiplecondition-flow-a
          flow-b:
            type: io.kestra.core.models.conditions.types.ExecutionFlowCondition
            namespace: io.kestra.tests
            flowId: trigger-multiplecondition-flow-b
