core/src/test/resources/flows/valids/trigger-flow-listener-invalid.yaml
id: trigger-flow-listener-invalid
namespace: io.kestra.tests.trigger

inputs:
  - id: from_parent
    type: STRING

tasks:
  - id: only-invalid
    type: io.kestra.plugin.core.debug.Return
    format: "childs: {{ inputs.from_parent }}"

triggers:
  - id: listen-flow-invalid
    type: io.kestra.plugin.core.trigger.Flow
    inputs:
      from_parent: "{{ trigger.outputs.invalid.value }}"
    conditions:
      - type: io.kestra.plugin.core.condition.ExecutionFlowCondition
        namespace: io.kestra.tests.trigger
        flowId: trigger-flow
