core/src/test/resources/flows/valids/trigger-flow-listener-namespace-condition.yaml
id: trigger-flow-listener-namespace-condition
namespace: io.kestra.tests.trigger

inputs:
  - id: from_parent
    type: STRING

tasks:
  - id: simple_output
    type: io.kestra.plugin.core.debug.Return
    format: "simple return"

triggers:
  - id: parent
    type: io.kestra.plugin.core.trigger.Flow
    conditions:
      - type: io.kestra.plugin.core.condition.ExecutionNamespaceCondition
        namespace: io.kestra.tests.trigger

outputs:
  - id: parent_output
    type: STRING
    value: "{{ outputs.simple_output.value }}"