core/src/test/resources/flows/valids/trigger-multiplecondition-listener.yaml
id: trigger-multiplecondition-listener
namespace: io.kestra.tests.trigger
#
#inputs:
#  - id: from_parent
#    type: STRING

tasks:
  - id: return_value
    type: io.kestra.plugin.core.debug.Return
    format: task in a child flow

triggers:
  - id: multiple-listen-flow
    type: io.kestra.plugin.core.trigger.Flow
#    inputs:
#      from_parent: '{{ trigger.outputs.parent_output }}'
    conditions:
      - id: multiple
        type: io.kestra.plugin.core.condition.MultipleCondition
        window: P1D
        windowAdvance: P0D
        conditions:
          success:
            type: io.kestra.plugin.core.condition.ExecutionStatusCondition
            in:
              - SUCCESS
          flow-a:
            type: io.kestra.plugin.core.condition.ExecutionFlowCondition
            namespace: io.kestra.tests.trigger
            flowId: trigger-multiplecondition-flow-a
          flow-b:
            type: io.kestra.plugin.core.condition.ExecutionFlowCondition
            namespace: io.kestra.tests.trigger
            flowId: trigger-multiplecondition-flow-b
