core/src/test/resources/flows/valids/trigger-flow-listener.yaml
id: trigger-flow-listener
namespace: io.kestra.tests

inputs:
  - id: from-parent
    type: STRING

tasks:
  - id: only-listener
    type: io.kestra.core.tasks.debugs.Return
    format: "childs: {{inputs['from-parent']}}"

triggers:
  - id: listen-flow
    type: io.kestra.core.models.triggers.types.Flow
    inputs:
      from-parent: '{{ outputs.only.value }}'
    conditions:
      - type: io.kestra.core.models.conditions.types.ExecutionStatusCondition
        in:
          - SUCCESS
      - type: io.kestra.core.models.conditions.types.ExecutionFlowCondition
        namespace: io.kestra.tests
        flowId: trigger-flow
