core/src/test/resources/flows/valids/worker.yaml
id: worker
namespace: io.kestra.tests

inputs:
  - name: failed
    type: STRING

tasks:
  - id: worker
    type: io.kestra.core.tasks.flows.Worker
    tasks:
      - id: first
        type: io.kestra.core.tasks.scripts.Bash
        outputFiles:
          - out
        commands:
          - 'echo "{{ taskrun.id }}" > {{ outputFiles.out }}'
          - 'echo "{{ taskrun.id }}" > {{ workingDir }}/stay.txt'
          - |
            echo '::{"outputs": {"taskrun":"{{ taskrun.id }}"}}::'
          - |
            exit {{ inputs.failed == 'true' ? '1' : '0' }}
      - id: second
        type: io.kestra.core.tasks.scripts.Bash
        inputFiles:
          in.txt: "{{ outputs.first.files.out }}"
        commands:
          - |
            echo '::{"outputs": {"taskrun":"'$(cat in.txt)'"}}::'
          - |
            echo '::{"outputs": {"stay":"'$(cat {{ workingDir }}/stay.txt)'"}}::'
    errors:
      - id: error-t1
        type: io.kestra.core.tasks.debugs.Return
        format: "Error Trigger ! {{task.id}}"
  - id: 2_end
    type: io.kestra.core.tasks.debugs.Return
    format: "{{ outputs.second.vars.stay }}"