core/src/test/resources/flows/invalids/duplicate-parallel.yaml
id: duplicate-parallel
namespace: io.kestra.tests


tasks:
  - id: t3
    type: io.kestra.plugin.core.log.Log
    message: third all optional args {{ outputs.t2.value }}
    retry:
      type: constant
      interval: PT15M
      maxAttempt: 5
    timeout: PT1H
  - id: t5
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: t5-t1
        type: io.kestra.plugin.core.log.Log
        message: "t5-t1 {{execution.id}}"
      - id: t5-t2
        type: io.kestra.plugin.core.log.Log
        message: "t5-t2 {{execution.id}}"
      - id: t5-t3
        type: io.kestra.plugin.core.log.Log
        message: "t4-t3 {{execution.id}}"
      - id: t5-t4
        type: io.kestra.plugin.core.flow.Parallel
        tasks:
          - id: t5-t4-t1
            type: io.kestra.plugin.core.flow.Parallel
            tasks:
              - id: t5-t4-t1-t1
                type: io.kestra.plugin.core.flow.Parallel
                tasks:
                  - id: t5-t4-t1-t1-t1
                    type: io.kestra.plugin.core.flow.Parallel
                    tasks:
                      - id: t3
                        type: io.kestra.plugin.core.log.Log
                        message: "t5-t5-t1-t1-t1-last : {{execution.id}}"
